<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Efficiently Gearing for Slayer</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./assets/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/main.css?v=1.003">
</head>
<body>
<div id="app">
    <nav class="navbar is-dark is-fixed-top is-transparent">
        <div class="breadcrumb navbar-start" v-cloak>
            <ul>
                <li><a href="https://josephsplace.github.io/slayer-gear/">Gearing for Slayer</a></li>
                <li :class="step === 1 ? 'is-active' : ''" @click="step = 1" v-if="step > 0"><a>Stats</a></li>
                <li :class="step === 2 ? 'is-active' : ''" @click="step = 2" v-if="step > 1"><a>Task Selection</a></li>
                <li :class="step === 3 ? 'is-active' : ''" @click="step = 3" v-if="step > 2"><a>Buy Order</a></li>
            </ul>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="https://youtu.be/prqyjGfsuVs" target="_blank">
                About this Site
            </a>
            <a class="navbar-item" @click="modal = true" target="_blank">
                Upcoming Features
            </a>
        </div>
    </nav>

    <section class="hero is-fullheight">
        <div class="hero-body" v-if="step === 1">
            <div class="container is-fluid">
                <h1 class="has-text-centered is-white title">Enter your stats</h1>

                <div class="enter-stats">
                    <div class="field has-addons has-addons-centered">
                        <p class="control">
                            <a class="button is-static is-label">
                                Attack
                            </a>
                        </p>
                        <p class="control">
                            <input class="input" min="1" max="99" type="number" @keyup="checkLevels()"
                                   v-model="user_levels.attack">
                        </p>
                    </div>

                    <div class="field has-addons has-addons-centered">
                        <p class="control">
                            <a class="button is-static is-label">
                                Strength
                            </a>
                        </p>
                        <p class="control">
                            <input class="input" min="1" max="99" type="number" @keyup="checkLevels()" v-model="user_levels.strength">
                        </p>
                    </div>

                    <div class="field has-addons has-addons-centered">
                        <p class="control">
                            <a class="button is-static is-label">
                                Defense
                            </a>
                        </p>
                        <p class="control">
                            <input class="input" min="1" max="99" type="number" @keyup="checkLevels()" v-model="user_levels.defense">
                        </p>
                    </div>

                    <div class="field has-addons has-addons-centered">
                        <p class="control">
                            <a class="button is-static is-label">
                                Range
                            </a>
                        </p>
                        <p class="control">
                            <input class="input" min="1" max="99" type="number" @keyup="checkLevels()" v-model="user_levels.range">
                        </p>
                    </div>

                    <div class="field has-addons has-addons-centered">
                        <p class="control">
                            <a class="button is-static is-label">
                                Magic
                            </a>
                        </p>
                        <p class="control">
                            <input class="input" min="1" max="99" type="number" @keyup="checkLevels()" v-model="user_levels.magic">
                        </p>
                    </div>
                </div>

                <button @click="setStats()" class="button is-primary" type="submit"
                        :disabled="disabled.step_one == true">Continue
                </button>
            </div>
        </div>

        <div v-if="step === 2" style="padding-top: 50px;" v-cloak>
            <div class="hero-body">
                <div class="container is-fluid">
                    <h1 class="has-text-centered is-white title">Choose the slayer tasks you do</h1>
                    <h1 class="has-text-centered is-white subtitle">Choose lots</h1>

                    <div class="">
                        <div class="columns is-multiline select-tasks">
                            <div v-for="task in task_list" :class="'column is-4-widescreen is-6 is-12-mobile ' + checkActive(selected_mobs[task['monster-name']])">
                                <div class="field has-addons has-addons-centered columns task-container">
                                    <p class="control column is-5 is-label-container" @click="selectMonster(task)">
                                        <a class="button is-static is-label" >
                                            {{ task['monster-name'] }}
                                        </a>
                                    </p>
                                    <p class="control column is-7 task-options" v-if="typeof selected_mobs[task['monster-name']] !== 'undefined'">
                                        <span  @click="calculateCombatStyle()">
                                            <span v-if="checkCrush(selected_mobs[task['monster-name']])">
                                                <input :value="task['task-weight']" type="checkbox" class="crush-style"
                                                       :id="'crush_style[' + task['monster-name'] + ']'"> <label
                                                    :for="'crush_style[' + task['monster-name'] + ']'">Melee</label>
                                                <span class="prayer-style-container">
                                                    <input :value="task['task-weight']" type="checkbox" class="prayer-style"
                                                           :id="'prayer_style[' + task['monster-name'] + ']'"> <label
                                                          :for="'prayer_style[' + task['monster-name'] + ']'">Protection Prayers</label>
                                                </span>
                                            </span>
                                            <span v-else="">
                                                 <input :value="task['task-weight']" type="checkbox" class="melee-style"
                                                        :id="'melee_style[' + task['monster-name'] + ']'"> <label
                                                    :for="'melee_style[' + task['monster-name'] + ']'">Melee</label>
                                                 <span class="prayer-style-container">
                                                    <input :value="task['task-weight']" type="checkbox" class="prayer-style"
                                                           :id="'prayer_style[' + task['monster-name'] + ']'"> <label
                                                         :for="'prayer_style[' + task['monster-name'] + ']'">Protection Prayers</label>
                                                </span>
                                            </span>
                                            <input :value="task['task-weight']" type="checkbox" class="range-style"
                                                   :id="'range_style[' + task['monster-name'] + ']'"> <label :for="'range_style[' + task['monster-name'] + ']'">Range</label>
                                            <input :value="task['task-weight']" type="checkbox" class="magic-style"
                                                   :id="'magic_style[' + task['monster-name'] + ']'"> <label :for="'magic_style[' + task['monster-name'] + ']'">Magic</label>
                                            <span class="aoe-style-container">
                                                <input :value="task['task-weight']" type="checkbox" class="aoe-style"
                                                       :id="'aoe_style[' + task['monster-name'] + ']'"> <label :for="'aoe_style[' + task['monster-name'] + ']'">AOE</label>
                                            </span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <h2 class="title has-text-centered">
                            Your average enemy has <strong>{{ average_mob.combat.attack }}</strong> attack, <strong>{{ average_mob.combat.strength }}</strong> strength, <strong>{{ average_mob.combat.defense }}</strong> defense, <strong>{{ average_mob.combat.range }}</strong> range, and <strong>{{ average_mob.combat.magic }}</strong> magic.
                        </h2>
                        <h2 class="subtitle has-text-centered">
                            You use melee <strong>{{ task_styles.melee * 100 | round }}%</strong> of the time, range <strong>{{ task_styles.range * 100 | round }}%</strong> of the time, and magic <strong>{{ task_styles.magic * 100 | round }}%</strong> of the time.
                        </h2>
                        <br/>

                        <div class="columns">
                            <div class="column is-12">
                                <button @click="calculateOrder()" class="button is-primary" type="submit"
                                        :disabled="disabled.step_two === true">Continue
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div v-cloak>
            <div class="hero-body" v-if="step === 3"  style="padding-top: 100px;" v-cloak>
                <div class="container is-fluid">
                    <div class="columns is-multiline">
                        <div class="column is-4 is-12-mobile item-container">
                            <h1 class="has-text-centered is-white title">Next Item</h1>
                            <div v-for="(item, key) in equipment_list" v-if="item['rank'] !== 0" class="has-text-centered">
                                <div v-if="key === 0" class="next-item">
                                    <div class="item-title">{{ item['item-name'] }}</div>

                                    <span v-if="canTrainStrength(item)" class="meta-info is-normal">
                                        <span class="tag is-info">Note: </span>This item has the ability to train strength.
                                    </span>

                                    <span class="meta-info">
                                        <span class="tag is-warning">{{ item['price'] | price }}</span> GP
                                    </span>
                                    <span v-if="dps_difference > 0" class="meta-info">
                                        <span class="tag is-success">{{ dps_difference }}% <i class="fa fa-caret-up" aria-hidden="true"></i></span> DPS
                                    </span>
                                    <span v-else="" class="meta-info">
                                        <span class="tag is-danger">{{ dps_difference }}% <i class="fa fa-caret-down" aria-hidden="true"></i></span> DPS
                                    </span>

                                    <span v-if="dmg_reduced_difference !== 0">
                                        <span v-if="dmg_reduced_difference > 0" class="meta-info">
                                            <span class="tag is-success">{{ dmg_reduced_difference }}% <i class="fa fa-caret-up" aria-hidden="true"></i></span> Defense
                                        </span>
                                        <span v-else="" class="meta-info">
                                            <span class="tag is-danger">{{ dmg_reduced_difference }} <i class="fa fa-caret-down" aria-hidden="true"></i></span> Defense
                                        </span>
                                    </span>

                                    <div class="is-italic">compared to {{ current_equipment[item['combat-style']][item['item-slot']]['item-name'] }}</div>

                                    <button @click="addItem(equipment_list[key])" class="button is-primary" type="submit"
                                            :disabled="disabled.step_two === true">Next Item
                                    </button>
                                </div>
                                <div v-else="">
                                     <div class="item-subtitle">{{ item['item-name'] }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-8 is-12-mobile">
                            <h1 class="has-text-centered is-white title">Current Gear Setup</h1>
                            <h1 class="has-text-centered is-white subtitle">The pre-filled gear is what you should have BEFORE you even start Slayer</h1>

                            <table class="table is-fullwidth is-hoverable table is-striped">
                                <thead>
                                    <tr>
                                        <th>Slot</th>
                                        <th>Melee</th>
                                        <th>Range</th>
                                        <th>Magic</th>
                                        <th>Prayer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Head</th>
                                        <td>Black Mask (i) / Slayer Helm (i)</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th>Main Hand</th>
                                        <td>{{ current_equipment.melee['main hand']['item-name'] }}</td>
                                        <td>{{ current_equipment.range['main hand']['item-name'] }}</td>
                                        <td>{{ current_equipment.magic['main hand']['item-name'] }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Main Hand Alt</th>
                                        <td>{{ current_equipment.melee['main hand strength']['item-name'] }}</td>
                                        <td></td>
                                        <td>{{ current_equipment.magic['main hand aoe']['item-name'] }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Off Hand</th>
                                        <td>{{ current_equipment.melee['off hand']['item-name'] }}</td>
                                        <td>{{ current_equipment.range['off hand']['item-name'] }}</td>
                                        <td>{{ current_equipment.magic['off hand']['item-name'] }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Neck</th>
                                        <td>{{ current_equipment.melee['neck']['item-name'] }}</td>
                                        <td>{{ current_equipment.range['neck']['item-name'] }}</td>
                                        <td>{{ current_equipment.magic['neck']['item-name'] }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Chest</th>
                                        <td>{{ current_equipment.melee['chest']['item-name'] }}</td>
                                        <td>{{ current_equipment.range['chest']['item-name'] }}</td>
                                        <td>{{ current_equipment.magic['chest']['item-name'] }}</td>
                                        <td>{{ current_equipment.prayer['chest']['item-name'] }}</td>
                                    </tr>
                                    <tr>
                                        <th>Legs</th>
                                        <td>{{ current_equipment.melee['legs']['item-name'] }}</td>
                                        <td>{{ current_equipment.range['legs']['item-name'] }}</td>
                                        <td>{{ current_equipment.magic['legs']['item-name'] }}</td>
                                        <td>{{ current_equipment.prayer['legs']['item-name'] }}</td>
                                    </tr>
                                    <tr>
                                        <th>Boots</th>
                                        <td>{{ current_equipment.melee['boots']['item-name'] }}</td>
                                        <td>{{ current_equipment.range['boots']['item-name'] }}</td>
                                        <td>{{ current_equipment.magic['boots']['item-name'] }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Hands</th>
                                        <td>{{ current_equipment.melee['hands']['item-name'] }}</td>
                                        <td>{{ current_equipment.range['hands']['item-name'] }}</td>
                                        <td>{{ current_equipment.magic['hands']['item-name'] }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Ring</th>
                                        <td>{{ current_equipment.melee['ring']['item-name'] }}</td>
                                        <td>{{ current_equipment.range['ring']['item-name'] }}</td>
                                        <td>{{ current_equipment.magic['ring']['item-name'] }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Ammo</th>
                                        <td>{{ current_equipment.melee['ammo']['item-name'] }}</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th>Back</th>
                                        <td>{{ current_equipment.melee['back']['item-name'] }}</td>
                                        <td>{{ current_equipment.range['back']['item-name'] }}</td>
                                        <td>{{ current_equipment.magic['back']['item-name'] }}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div v-cloak>
        <div class="modal" v-show="modal === true">
            <div class="modal-background" @click="modal = false"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Upcoming Features and Updates</p>
                    <button class="delete" aria-label="close" @click="modal = false"></button>
                </header>
                <section class="modal-card-body">
                    <aside class="menu">
                        <p class="menu-label">
                            Features
                        </p>
                        <ul class="menu-list">
                            <li><a>Add Boss Tasks</a></li>
                            <li>
                                <a>Add Alternate Tasks</a>
                                <ul>
                                    <li><a>Tzhaar</a></li>
                                    <li><a>Monster Variations</a></li>
                                </ul>
                            </li>
                        </ul>

                        <p class="menu-label">
                            Updates
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a>Add in 'Cost per shot' calculations for items with charges</a>
                                <ul>
                                    <li><a>Saradomin's Blessed Sword</a></li>
                                    <li><a>Toxic Blowpipe</a></li>
                                    <li><a>Both Tridents</a></li>
                                </ul>
                            </li>
                            <li><a>Calculate all Spiritual Creatures as one task</a></li>
                            <li>
                                <a>Add special conditions for monsters weak to stab</a>
                                <ul>
                                    <li><a>Metal Dragons</a></li>
                                </ul>
                            </li>
                            <li><a>Mobile Optimization</a></li>
                        </ul>
                    </aside>
                </section>
                <footer class="modal-card-foot has-text-centered">
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="./assets/js/vue.js"></script>
<script src="./assets/js/vue-resource.js"></script>
<script type="text/babel" src="./assets/js/main.js?v=1.002"></script>
</body>
